---
export interface Props {
  thead: string[];
  tbody: string[][];
}

const { thead, tbody } = Astro.props;
---

<table class="table-auto">
  <thead>
    <tr class="bg-slate-100 dark:bg-black">
      {thead && thead.map((th) => <th>{th}</th>)}
    </tr>
  </thead>

  <tbody>
    {
      tbody &&
        tbody.map((tr) => (
          <tr>
            {tr.map((td) => (
              <td>{td}</td>
            ))}
          </tr>
        ))
    }
  </tbody>
</table>
